// Grayscale Colors
$white: #fff;
$light-gray-1: #eee;
$light-gray-2: #dfdfdf;
$light-gray-3: #bfbfbf;
$gray-1: #aaa;
$gray-2: #888;
$gray-3: #666;
$gray-4: #555;
$dark-gray-1: #444;
$dark-gray-2: #222;
$black: #111;

// ETC
$kakao_yellow: #fee500;
$kakao_skyblue: #a0c0d8;
$kakao_brown: #3a1d1d;
